@font-face {
  font-family: "Gopher";
  src: local("Gopher"), local("Gopher"),
    url("../../assets/fonts/Gopher/GopherText-Regular.otf") format("otf"),
    url("../../assets/fonts/Gopher/GopherText-Regular.ttf") format("truetype");
}
body {
  font-family: "Gopher";
}