@font-face {
  font-family: "Gilroy ExtraBold";
  src: local("Gilroy ExtraBold"), local("Gopher ExtraBold"),
    url("../../assets/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.eot")
      format("eot"),
    url("../../assets/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf")
      format("truetype"),
    url("../../assets/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.woff")
      format("woff");
}

@font-face {
  font-family: "Gilroy Regular";
  src: local("Gilroy Regular"), local("Gopher Regular"),
    url("../../assets/fonts/Gilroy-Regular/Gilroy-Regular.eot") format("eot"),
    url("../../assets/fonts/Gilroy-Regular/Gilroy-Regular.ttf")
      format("truetype"),
    url("../../assets/fonts/Gilroy-Regular/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gopher Bold";
  src: local("Gopher"), local("Gopher"),
    url("../../assets/fonts/Gopher-Bold/Gopher-Bold.otf") format("otf"),
    url("../../assets/fonts/Gopher-Bold/Gopher-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gopher Regular";
  src: local("Gopher Regular"), local("Gopher Regular"),
    url("../../assets/fonts/Gopher-Regular/Gopher-Regular.otf") format("otf"),
    url("../../assets/fonts/Gopher-Regular/Gopher-Regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "HeleveticaBold";
  src: local("HeleveticaBold"), local("HeleveticaBold"),
    url("../../assets/fonts/HelveticaBold/HelveticaBold.eot") format("eot"),
    url("../../assets/fonts/HelveticaBold/HelveticaBold.ttf") format("truetype"),
    url("../../assets/fonts/HelveticaBold/HelveticaBold.woff") format("woff");
}

body {
  font-family: "Gopher Regular";
}

button {
  font-family: "Gopher Regular";
}
